<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">

	<!-- DATABASE -->
	<bean name="database" class="ubadb.Database">
		<constructor-arg index="0" ref="catalogManager"/>
		<constructor-arg index="1" ref="diskManager"/>
		<constructor-arg index="2" ref="bufferManager"/>
	</bean>
	<!-- End DATABASE -->
	
	<!-- DATABASE COMPONENTS -->
	
	<!-- BUFFER MANAGER -->
	<bean name="bufferManager" class="ubadb.components.bufferManager.BufferManagerImpl">
		<constructor-arg index="0" ref="diskManager"/>
		<constructor-arg index="1" ref="singleBufferPool"/>
	</bean>
	
	<bean name="singleBufferPool" class="ubadb.components.bufferManager.bufferPool.SingleBufferPool">
		<constructor-arg index="0" value="${buffer.pool.size}"/>
		<constructor-arg index="1" ref="fifoReplacementStrategy"/>
	</bean>
	
	<bean name="fifoReplacementStrategy" class=" ubadb.components.bufferManager.bufferPool.replacementStrategies.FIFOReplacementStrategy"/>
	<!-- End BUFFER MANAGER -->
	
	<!-- OTHERS -->
	<bean name="diskManager" class="ubadb.components.diskManager.DiskManagerImpl">
		<constructor-arg index="0" value="${page.size}"/>
		<constructor-arg index="1" value="${file.path.prefix}"/>
	</bean>

	<bean name="catalogManager" class="ubadb.components.catalogManager.CatalogManager">
		<constructor-arg index="0" ref="propertiesUtil"/>
		<constructor-arg index="1" ref="xmlUtil"/>
		<constructor-arg index="2" ref="diskManager"/>
	</bean>
	<!-- End OTHERS -->
	
	<!-- End DATABASE COMPONENTS -->
	
	<!-- UTILS -->
	<bean name="xmlUtil" class="ubadb.util.xml.XstreamXmlUtil">
		<constructor-arg index="0" ref="xstream"/>
	</bean>
	
	<bean name="propertiesUtil" class="ubadb.util.properties.PropertiesUtilImpl"/>
	
	<bean name="xstream" class="com.thoughtworks.xstream.XStream"/>

	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean> 
	<!-- End UTILS -->
</beans>