#git ignore file

TP2/sources/.metadata/

TP2/sources/*/.classpath
TP2/sources/*/.project
TP2/sources/*/.settings/
TP2/sources/*/target/



TP2/sources/UBADB-Original/README.txt


TP2/sources/UBADB-Benchmark/output.csv

TP2/sources/doc/informe.aux
TP2/sources/doc/informe.log
TP2/sources/doc/informe.pdf
TP2/sources/doc/informe.toc
