

TP2/sources/.metadata/

TP2/sources/UBADB/.classpath
TP2/sources/UBADB/.project
TP2/sources/UBADB/target/

TP2/sources/UBADB-Original/.settings/
TP2/sources/UBADB-Original/.classpath
TP2/sources/UBADB-Original/.project
TP2/sources/UBADB-Original/README.txt
TP2/sources/UBADB-Original/target/

TP2/sources/UBADB-New/.classpath
TP2/sources/UBADB-New/.project
TP2/sources/UBADB-New/.settings/
TP2/sources/UBADB-New/target/
